<div class="input_edit_title">
  <h2>編集</h2>
</div>
<div class="edit_list">
  <h2>物件編集</h2>
</div>
<%= render 'form' %>
<table class="show_page">
  <tr>
    <td><%= link_to "詳細", estate_path(@estate.id) %></td>
    <td>|</td>
    <td><%= link_to "戻る", estates_path %></td>
  </tr>
</table>
